h1 {
    color: blue;
}

label {
    font-weight: bold;
    font-style: italic;
}

.jumbotron {
    min-height: 100vh;
}

.marTop{
    margin-top: 20px;
}

h2{
    color:rgb(0, 0, 0);
}

.blue{
    color: rgb(8, 8, 164);
}